.page {

	&:not(.page-template-landing-page) {
		.content {
			&__container {
				padding-bottom: spacing('layout-m');

				@include breakpoint(l) {
					padding-top: spacing('layout-xl');
					padding-bottom: spacing('layout-xl');
				}
			}
		}
	}

  &.has-post-thumbnail {

    .content__thumbnail {
      margin-bottom: spacing('layout-m');

      @include breakpointMax('m') {
        @include alignFull();
      }
    }

    @include breakpoint('l') {
      .hero {
        margin-bottom: $koros-size;
      }
    }

  }

  &.has-table-of-contents,
  &:not(.has-post-thumbnail) {

    .content__container {
      padding-top: spacing('layout-m');

      @include breakpoint(l) {
        padding-top: spacing('layout-xl');
      }
    }

    &:not(.home) {
      .hero {
        margin-bottom: $koros-size;
      }
    }

  }

}
