.has-sidebar {

  .helsinki-events {
    width: auto;
    max-width: none;
    padding: spacing('l') spacing('s');

    .hds-container {
      padding: 0;
    }

    @include breakpoint('m') {
      padding: spacing('l');
    }

    @include breakpoint('l') {
      margin-left: auto;
      margin-right: auto;
    }
  }

}
