#breadcrumbs {
	font-size: rem-calc(14);

	.hds-container {
		padding-top: var(--spacing-xs);
		padding-bottom: var(--spacing-xs);
	}

	span {
		color: $anchor-color;
	}

	.breadcrumb_last {
		font-weight: $global-font-weight-bold;
	}

	@include breakpoint(l) {
		.hds-container {
			padding-left: var(--spacing-m);
			padding-right: var(--spacing-m);
		}
	}

}
