/**
  * Alignment
  *
  * @source https://www.billerickson.net/full-and-wide-alignment-in-gutenberg/
  */
.alignfull {
	@include alignFull();

	+ .hds-koros {
		@include alignFull();
	}
}

.wp-block-group {

	&.alignfull {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}

}

// .alignwide {
// 	margin: 32px calc(25% - 25vw);
// 	max-width: 100vw;
// 	width: 100vw;
// }

/**
  * Block colors
  */
$hasColors: (
	"primary": var(--primary-color),
	"light": var(--primary-color-light),
	"medium": var(--primary-color-medium),
	"dark": var(--primary-color-dark),
	"black": $black,
	"white": $white,
	"light-gray": $light-gray,
);

@each $name, $color in $hasColors {
	.has-#{"" + $name}-background-color {
		background-color: $color;

		&.has-background {
			padding: spacing('layout-m') spacing('layout-s');

			&.has-koros {
				padding-bottom: spacing('2-xs');
			}
		}

		+ .hds-koros {
			z-index: 2;

			> svg {
				path {
					fill: $color;
				}
			}
		}

		> .hds-koros {
			> svg {
				path {
					fill: $color;
				}
			}
		}
	}

  .has-#{"" + $name}-color {
		color: $color;

		* {
			color: $color;
		}

		.icon {
			path {
				fill: $color;
			}
		}
  }
}

.wp-block-group {

	&.has-background {
		&:not(.alignfull) {
			margin-bottom: $paragraph-margin-bottom;
		}

		.wp-block-group__inner-container {
			>:first-child {
				margin-top: 0;
			}

			h1, h2, h3, h4, h5, h6 {
				margin-bottom: spacing('s');
			}

			>:last-child {
				margin-bottom: 0;
			}
		}

	}

}
