.container--comments {

  .container__heading {
    line-height: 1;
    margin-bottom: $global-margin;
  }

}

.comments-list {
  list-style: none;
  margin: 0;

  .comment {
    margin-bottom: $global-margin;

    &.waiting-moderation {
      background-color: $light-gray;
      padding: var(--spacing-2-xs);
    }

    + .comment {
      border-top: $default-border;
      border-color: var(--primary-color);
      padding-top: $global-padding;
    }

    &__article {

      &__header {

        > * {
          font-weight: $global-font-weight-medium;
          float: left;
          width: 50%;

          &:nth-child(even) {
            text-align: right;
          }
        }

      }

    }

    &__date {
      &__link {
        color: $anchor-color-alt;

        &:focus,
        &:hover {
          color: $anchor-color;
        }
      }
    }

  }

  .children {
    border-top: $default-border;
    border-color: var(--primary-color);
    list-style: none;
    // margin-left: $global-margin * 2;
    margin-bottom: 0;
    padding-top: $global-padding;
  }

}

.comment-respond {

  &__title {
  }

}

.comment-form {

  label {
    margin-bottom: var(--spacing-2-xs);
  }

  textarea {
    display: block;
    width: 100%;
  }

  &-comment,
  &-author,
  &-email {

    label {
      display: block;
    }
  }

  &-author,
  &-email {

    input {
      width: 100%;
    }

    @include breakpoint(tablet) {
      display: inline-block;
      float: left;
      width: 33%;

      input {
        width: 95%;
      }
    }

  }



  &-cookies-consent {
    clear: both;
  }

}
