.hero {
	background-color: var(--primary-color);
	display: flex;
	flex-direction: column;
	width: 100%;

	@include breakpoint('l') {
		margin-bottom: spacing('m');
	}

  &.has-image-left,
  &.has-image-right {

    .hero__container {
      display: flex;
      align-items: center;
    }

  }

  &.has-image-left {
    @include breakpoint('l') {
      .hero__container {
        flex-direction: row-reverse;

        > * {
          + * {
            margin-left: 0;
            margin-right: spacing(layout-m);
          }
        }
      }
    }
  }

  &.has-diagonal {
    @include breakpoint('xl') {
      position: relative;
      overflow: hidden;

      .hero__container {
        position: relative;
        padding-top: spacing('layout-l');
        padding-bottom: spacing('layout-l');
        z-index: 2;

        .hero__title {
          max-width: unset;
        }

        .hero__excerpt {
          max-width: 480px;
        }
      }

      .diagonal-overlay {
        background-color: var(--primary-color);
        width: 62%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        transform: rotate(-45deg);
        transform-origin: bottom left;
        z-index: 1;

        .hds-koros {
          background-color: transparent;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
        }
      }

      .hero__thumbnail {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 60%;
      }
    }
  }

	&__content {
		> * {
			margin-bottom: 0;

			@include breakpoint('l') {
				max-width: percentage(math.div(8,12));
			}
		}

		.hero__title,
		.content__title {
			margin-top: 0;

			@include breakpoint('l') {
				max-width: percentage(math.div(9,12));
			}
		}

		.excerpt {
			margin-top: spacing('s');
		}

		.buttons {
			margin-top: spacing('layout-s');

			.button {
				margin-right: spacing('s');
			}
		}
	}

	&__excerpt {}

	&__thumbnail {}

	.button {
		&:focus,
		&:hover {
			background-color: transparent;
			border-color: $black;
			color: $black;
		}
	}

	.hds-koros {
		path,
		polygon {
			fill: var(--primary-color);
		}
	}

	.hero__container {
		> * {
			width: 100%;
		}
	}

	.hds-container {
		padding-top: spacing('layout-xl');
		padding-bottom: spacing('s');
	}

	&.has-thumbnail {

		> .hero__thumbnail {
			background-color: $body-background-color;

			@include breakpointMax(l) {
				.image-wrap--fixed-size {
					overflow: auto;
					padding-top: 0;

					img {
						position: static;
						transform: none;
					}
				}
			}
		}

		.hero__container {
			.hero__thumbnail {
				display: none;
			}
		}

		@include breakpoint('l') {

      &.has-image-left,
      &.has-image-right {
        > .hero__thumbnail {
  				display: none;
  			}
      }

			.hero__container {
				justify-content: space-between;

				> * {
					width: 50%;

					+ * {
						margin-left: spacing(layout-m);
					}
				}

				.hero__thumbnail {
					display: block;
				}
			}
		}

	}

	&.is-full-width {
		background-color: $body-background-color;
		position: relative;

		> .hero__thumbnail {
			display: block;
			margin-top: 0;
			position: relative;
			height: 300px;

			@include breakpoint('m') {
				height: 500px;
			}

			@include breakpoint('l') {
				height: 600px;
			}

			> .hds-koros {
				background-color: transparent;
				height: $koros-size;
				position: absolute;
				bottom: 0;
				left: 0;

				> svg {
					position: static;
					transform: none;
				}
			}
		}

		.hds-koros {
			> svg {
				path {
					fill: $body-background-color;
				}
			}
		}

		> .hds-container {
			position: relative;
			min-height: auto;

			@include breakpoint('m') {
				padding: 0;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
			}
		}

		.hero__content {

			> * {
				max-width: none;
			}

			@include breakpoint('m') {
				background-color: $body-background-color;
				padding: spacing('2-xl') spacing('xl');
				width: percentage(math.div(8,12));
			}

			@include breakpoint('l') {
				width: percentage(math.div(7,12));
			}
		}

	}

	&.has-koros {}

	&.has-excerpt {}

	&.has-call-to-action {}
}
