.hero {
    background-color: var(--primary-color);
    position: relative;
    width: 100%;
    margin-bottom: rem-calc(64);

    &__content {
      > * {
        margin-bottom: 0;
      }

      .hero__title,
      .content__title {
        margin-top: 0;
      }

      .excerpt {
        margin-top: spacing('s');
      }

      .buttons {
        margin-top: spacing('s');

        .button {
          margin-top: spacing('s');
          margin-right: spacing('s');
        }
      }
    }

    > .hero__thumbnail {
      @include breakpointMax('l') {
        .image-wrap--fixed-size {
          > img {
            height: 300px;
            max-width: none;
            object-fit: cover;
          }
        }
      }

      .hero__thumbnail_caption {
        color: $black;
        float: right;
        text-align: right;
        margin-left: 130px;
        margin-right: spacing('s');
      }
    }

    .hero__thumbnail {
      margin: 0;

      &_caption {
        margin-top: spacing('s');
      }
    }

    .hero__decoration {
      overflow: clip;
      overflow-clip-margin: 5px;
      position: absolute;
      bottom: 0;
      left: spacing('s');
      transform: translateY(60%);
      width: 80px;
      height: 110px;
      z-index: 1;

      .icon {
        @include absoluteCenter();
        width: 150px;
      }

      &--arrow {
        .icon {
          background-color: var(--accent-color, var(--primary-color));
        }
      }

      @include breakpoint('l') {
        width: 100%;
        max-width: var(--container-width-l);
        height: 125px;
        left: 50%;
        transform: translate(-50%,70%);

        .icon {
          width: 180px;
          left: 0;
          transform: translate(-25%,-50%);
        }
      }

      @include breakpoint('xl') {
        max-width: var(--container-width-xl);
      }
    }

    .hds-koros {
      path,
      polygon {
        fill: var(--primary-color);
      }
    }

    .hds-container {
      padding-top: spacing('layout-xl');
      padding-bottom: spacing('s');

      @include breakpoint('l') {
        .hero__content {
          max-width: 50%;
        }
      }
    }
}
