.hero {
	background-color: var(--primary-color);
	width: 100%;

	@include breakpoint('l') {
		margin-bottom: spacing('m');
	}

	&__content {
		> * {
			margin-bottom: 0;
		}

		.hero__title,
		.content__title {
			margin-top: 0;
		}

		.excerpt {
			margin-top: spacing('s');
		}

		.buttons {
			margin-top: spacing('s');

			.button {
        margin-top: spacing('s');
				margin-right: spacing('s');
			}
		}
	}

	&__excerpt {}

	&__thumbnail {}

	.button {
		&:focus,
		&:hover {
			background-color: transparent;
			border-color: $black;
			color: $black;
		}
	}

	.hds-koros {
		path,
		polygon {
			fill: var(--primary-color);
		}
	}

  .hds-container {
    padding-top: spacing('layout-xl');
    padding-bottom: spacing('s');

    @include breakpoint('l') {
      .hero__content {
        max-width: 50%;
      }
    }
  }

	&.has-diagonal,
	&.has-background-image,
	&.has-image-left,
  &.has-image-right {
		.hds-container {
      display: flex;
      align-items: center;
      min-height: rem-calc(340);
      padding-top: spacing('layout-m');
      padding-bottom: spacing('layout-2-xs');

      @include breakpoint('m') {
        padding-top: spacing('layout-m');
        padding-bottom: spacing('layout-s');
      }

      @include breakpoint('l') {
        min-height: rem-calc(440);
        padding-top: 4.5rem;

        .hero__content {
          max-width: unset;
        }
      }

      @include breakpoint('xl') {
        min-height: rem-calc(540);
        padding-top: spacing('layout-xl');
      }
    }
	}

  &.has-image-left,
  &.has-image-right {

    > .hero__thumbnail {
			background-color: $body-background-color;

			@include breakpointMax(l) {
				.image-wrap--fixed-size {
					overflow: auto;
					padding-top: 0;

					img {
						position: static;
						transform: none;
					}
				}
			}
		}

    > .hero__container {
			.hero__thumbnail {
				display: none;
			}
		}

    @include breakpoint('l') {
      > .hero__container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        > * {
          width: calc( 50% - 1rem );
        }

        .hero__thumbnail {
  				display: block;
  			}
      }

      > .hero__thumbnail {
        display: none;
      }
    }

    @include breakpoint('xl') {
      > .hero__container {
        > * {
          width: calc( 50% - 1.5rem );
        }
      }
    }

  } // has-image-left has-image-right

  &.has-image-left {
    &.has-thumbnail {
      @include breakpoint('l') {
        .hero__container {
          flex-direction: row-reverse;
        }
      }
    }
  } // has-image-left

  &.has-diagonal {
    @include breakpoint('l') {
      position: relative;
      overflow: hidden;

      .hero__container {
        position: relative;
        padding-top: spacing('layout-l');
        padding-bottom: spacing('layout-l');
        z-index: 2;

        @include breakpoint('l') {
      	   .hero__content {
             max-width: 50%;
           }
      	}

        .hero__excerpt {
          max-width: 95%;
        }

      }

      .diagonal-overlay {
        background-color: var(--primary-color);
        width: 1000px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-25%, 25%) rotate(-45deg);
        transform-origin: bottom left;
        z-index: 1;

        .hds-koros {
          background-color: transparent;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
        }
      }

      .hero__thumbnail {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 60%;

        .image-wrap--fixed-size {
          padding-top: unset;
          height: 100%;

          > img {
            min-width: 100%;
            min-height: 100%;
            width: auto;
            max-width: unset;
          }
        }
      }
    }
  } // has-diagonal

	&.has-background-image {
		background-color: $body-background-color;
		position: relative;

		> .hero__thumbnail {
			display: block;
			margin-top: 0;
			position: relative;
			height: 300px;

			@include breakpoint('m') {
				height: 600px;
			}

			> .hds-koros {
				background-color: transparent;
				height: $koros-size;
				position: absolute;
				bottom: 0;
				left: 0;

				> svg {
					position: static;
					transform: none;
				}
			}
		}

		.hds-koros {
			> svg {
				path {
					fill: $body-background-color;
				}
			}
		}

		> .hero__container {
      padding-top: spacing('s');
			position: relative;
			min-height: auto;

			@include breakpoint('m') {
				padding: 0;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
			}
		}

		.hero__content {

			> * {
				max-width: none;
			}

			@include breakpoint('m') {
				background-color: $body-background-color;
				padding: spacing('2-xl') spacing('xl');
				width: 80%;
			}

			@include breakpoint('l') {
				width: 70%;
			}

			@include breakpoint('xl') {
				width: 60%;
			}
		}

	} // has-background-image

}
