.icon {
	fill: $anchor-color;
	background-color: transparent;
	display: block;
  	margin-left: 0;
	transition: $default-transition;
	width: calc(var(--line-height)*1em);

	&--arrow-right {
	}

	@for $i from 1 through 6 {
		&--abstract-#{$i} {
			background-color: transparent;
		}
	}


	&.inline-icon {
		display: inline-block;
		vertical-align: middle;
		margin-top: -4px;
		margin-inline-start: spacing('4-xs');
	}

	&.mask-icon {
		fill: none;
		background-color: $anchor-color;
	}
}

.has-icon {
  --direction: row;
  --column-gap: #{spacing('2-xs')};
  --justify-content: normal;
  --row-gap: 0;
  --font-size: #{rem-calc(12)};
  --font-size-large: var(--font-size);

	align-items: center;
	display: flex;
  flex-direction: var(--direction);
  justify-content: var(--justify-content);
  gap: var(--row-gap) var(--column-gap);


	&--above {
    --direction: column;
    --justify-content: center;

		.text {
			font-size: var(--font-size);

			@include breakpoint('l') {
				font-size: var(--font-size-large);
			}
		}
	}

}

.logo-icon {
	height: var(--spacing-l);
}
