.icon {
	fill: $anchor-color;
	background-color: transparent;
	display: block;
  	margin-left: 0;
	transition: $default-transition;
	width: 24px;

	&--arrow-right {
	}

	@for $i from 1 through 6 {
		&--abstract-#{$i} {
			background-color: transparent;
		}
	}

	&--link-external {
		width: 16px;
	}

	@for $i from 1 through 6 {
		&--abstract-#{$i} {
			background-color: transparent;
		}
	}


	&.inline-icon {
		display: inline-block;
		vertical-align: middle;
		margin-top: -4px;
		margin-left: spacing('4-xs');
	}

	&.mask-icon {
		fill: none;
		background-color: $anchor-color;
	}
}

.has-icon {
	align-items: center;
	display: flex;

	&--before {
		svg {
			margin-right: #{spacing('2-xs')};
		}
	}

	&--after {
		svg {
			margin-left: #{spacing('2-xs')};
		}
	}

	&--above {

		.text {
			font-size: rem-calc(12);

			@include breakpoint('l') {
				font-size: rem-calc(12);
			}
		}

		flex-direction: column;
		justify-content: center;
	}

}

.logo-icon {
	height: var(--spacing-l);
}
