.hds-koros {
	background-color: $body-background-color;
	position: relative;
	z-index: 1;

	> svg {
    margin-bottom: -1px;
		height: $koros-size;
		width: 100%;

		path,
		polygon {
			fill: $koros-background-color;
		}
	}

	&--flip-horizontal {}
}
