.lightbox {
  background-color: rgba(0,0,0,.6);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;

  .lightbox__content {
    background-color: $white;
    @include absoluteCenter();
    width: 90%;

    &.has-navigation {
      .lightbox__images {
        figure {
          figcaption {
            padding-bottom: 0;
          }
        }
      }
    }
  }

  .lightbox__navigation {
    display: flex;
    justify-content: space-between;
    padding: 1rem;

    .hds-button {
      padding: .5rem;

      svg {
        margin-left: 0;
      }
    }
  }

  .lightbox__close {
    color: $white;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-100%);

    svg {
      fill: $white;
    }
  }

  .lightbox__images {

    figure {
      margin-bottom: 0;

      img {
        display: block;
      }

      figcaption {
        padding: 1rem;
      }

    }

  }

}
