/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear,
input[type=search]::-ms-reveal {
  display: none;
  width : 0;
  height: 0;
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.search-form, .wp-block-search {

	label {
		font-size: 16px;
		font-weight: $global-font-weight-medium;
	}

	.search-field, .wp-block-search__inside-wrapper {
		position: relative;
		gap: 10px;
		grid-gap: 10px;

		@include breakpointMax('s') {
			flex-wrap: wrap;
		}

		&:focus-within {
			input:not([readonly]) {
				box-shadow: none;
			}
		}

		input {
			padding-right: 5rem;
		}

		button {

		}

		[type="submit"] {

			@include breakpointMax('s') {
				width: 100%;
			}

		}
	}

}

.search-title {
	margin-top: 0;
}

.search {

	.view-header {
		background-color: $header-search-background-color;
		color: $header-search-color-alt;
	}

	.view-title {
		color: $header-search-color-alt;
	}

	.not-found {
	}

	.search-results-title {
	}

	.search-form {
		max-width: 788px;

		.search-field {

			input {
				background-color: $header-search-background-color;
				color: $header-search-color-alt;
				box-shadow: none;

				&:focus {
					border-color: $header-search-color-alt;
				}

				&:hover {
					border-color: $header-search-color-alt;
				}
			}

			[type="submit"] {
	
			}
		}
	}
}

footer {
	.search-form {
		.search-field {

			&:focus-within {
				input:not([readonly]) {
					border-color: $white;
				}
			}
	
			input:not([readonly]) {
				background-color: transparent;
				color: $white;
				box-shadow: none;

				&:hover {
					border-color: $white;
				}
			}

			[type="submit"] {
				@extend %inverted-button;
			}
		}
	}
}

.error404  {
	.search-form {
		max-width: 636px;
	}
}
