/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear,
input[type=search]::-ms-reveal {
  display: none;
  width : 0;
  height: 0;
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.search-form {

	.search-field {
		position: relative;

		input {
			padding-right: 5rem;
		}

		button {
			position: absolute;
			top: 1rem;
			right: 1rem;

			&:first-of-type {
				right: 3rem;
			}

			&:last-of-type {
				right: 1rem;
			}
		}

		[type="reset"] {
			svg {
				fill: $white;
			}
		}

		+ [type="submit"] {
			margin-top: spacing(xs);
		}
	}

}

.search-title {
	margin-top: 0;
}

.search {

	.view-title {
		font-size: fontsize-heading(l);
	}

	.not-found {
		padding-top: spacing('layout-xl');
		padding-bottom: spacing('layout-xl');
	}

	.search-results-title {
		font-size: 2.5rem;
	}

	.search-form {
		max-width: 788px;

		.search-field {
			input {
				background-color: $black;
				box-shadow: none !important;
				color: $white;

				&:focus {
					border-color: $header-search-color-alt;
				}

				&:hover {
					border-color: $header-search-color-alt;
				}

				&::placeholder {
					color: $white;
				}
			}

			[type="submit"] {
				color: $white;

				svg {
					fill: $white;
				}
			}
		}
	}
}

.error404  {
	.search-form {
		max-width: 636px;
	}
}
