.share-links {
	display: flex;

	.title {
		font-size: fontsize-heading('m');
		font-weight: $global-font-weight-medium;
		margin: 0 spacing('s') 0 0;
		line-height: 28px;

		@include breakpointMax('l') { 
			font-size: 20px;
			line-height: 26px;
		}

	}

	.menu {
		padding: 0;

		&__item {
			padding: 0;

			+ .menu__item {
				margin-left: spacing('2-xs');
			}
		}
	}

	.share-link {
    line-height: 1;
    min-height: auto;
    padding: 0;

		svg {
      margin: 0;
		}
	}

}
