#breadcrumbs {
	font-size: rem-calc(14);

	.hds-container {
		padding: var(--spacing-xs) var(--spacing-s);
	}

	span {
		color: $anchor-color;
	}

	.breadcrumb_last {
		font-weight: $global-font-weight-bold;
	}

}
