.meta {
	color: $dark-gray;

	a {
		color: $dark-gray;
		text-decoration: none;

		&:focus,
		&:hover {
			color: colorBlackShade('90');
			text-decoration: underline;
		}
	}

	> * {
    margin-inline-end: spacing('2-xs');
		+ * {
			border-left: $default-border-width $default-border-style $dark-gray;
      padding-inline-start: spacing('2-xs');
		}
	}

}

[dir="rtl"] {
  .meta {
    > * + * {
      border-right: $default-border-width $default-border-style $dark-gray;
      border-left: none;
    }
  }
}
