.meta {
	color: $dark-gray;

	a {
		color: $dark-gray;
		text-decoration: none;

		&:focus,
		&:hover {
			color: colorBlackShade('90');
			text-decoration: underline;
		}
	}

	> * {
		margin-right: .5rem;
		+ * {
			border-left: $default-border-width $default-border-style $dark-gray;
			padding-left: .5rem;
		}
	}

}
