.not-found {

	h1 {
		margin-top: 0;
	}

}

.error404 {

	.content {
		padding-top: spacing('layout-xl');
		padding-bottom: spacing('layout-xl');

		.not-found {
			margin-bottom: spacing('layout-m');

			a {
				font-weight: $global-font-weight-medium;
			}

			.decoration {
				display: block;
				margin: auto;
			}
		}

	}

	footer {
		.hds-koros {
			background-color: $light-gray;
		}
	}

}
