.has-invert-color {

	.hero {
		&:not(.is-full-width) {
			color: $white;

			.hero__title,
			.content__title,
			.view-header__title {
				color: $white;
			}

			.button {
				background-color: $white;
				border-color: $white;
				color: $black;

				.icon {
					fill: $black;
				}

				&:focus,
				&:hover {
					background-color: transparent;
					border-color: $white;
					color: $white;

					.icon {
						fill: $white;
					}
				}

				&.hds-button--secondary {
					background-color: transparent;
					border-color: $white;
					color: $white;

					.icon {
						fill: $white;
					}

					&:focus,
					&:hover {
						background-color: $white;
						border-color: $white;
						color: $black;

						.icon {
							fill: $black;
						}
					}
				}
			}
		}
	} // .hero

  .entry {
    .entry__thumbnail {
      &.has-icon {
        .icon {
          path {
            fill: $white;
          }
        }
      }
    }
  } // .entry

}
