.has-invert-color {

	.hero {
		&:not(.has-background-image) {
			color: $white;

			.hero__title,
			.content__title,
			.view-header__title {
				color: $white;
			}

			.button {
				@extend %inverted-button;
			}
		}
	} // .hero

  .entry {
    .entry__thumbnail {
      &.has-icon {
        .icon {
          path {
            fill: $white;
          }
        }
      }
    }
  } // .entry

}

%inverted-button {
	background-color: $white;
	border-color: $white;
	color: $black;

	.icon {
		fill: $black;
	}


	&:hover {
		background-color: transparent;
		color: $white;

		.icon {
			fill: $white;
		}
	}

  &:focus {
    outline-color: $white;
  }

	&.hds-button--secondary {
		background-color: transparent;
		border-color: $white;
		color: $white;

		.icon {
			fill: $white;
		}

		&:hover {
			background-color: $white;
			color: $black;

			.icon {
				fill: $black;
			}
		}

    &:focus {
      outline-color: $white;
    }

	}
}