.has-invert-color {

	.hero {
		&:not(.has-background-image) {
			color: $white;

			.hero__title,
			.content__title,
			.view-header__title {
				color: $white;
			}

			.button {
				background-color: $white;
				border-color: $white;
				color: $black;

				.icon {
					background-color: $black;
				}

				&:focus,
				&:hover {
					background-color: transparent;
					border-color: $white;
					color: $white;

					.icon {
						background-color: $white;
					}
				}

				&.hds-button--secondary {
					background-color: transparent;
					border-color: $white;
					color: $white;

					.icon {
						background-color: $white;
					}

					&:focus,
					&:hover {
						background-color: $white;
						border-color: $white;
						color: $black;

						.icon {
							background-color: $black;
						}
					}
				}
			}
		}
	} // .hero

  .entry {
    .entry__thumbnail {
      &.has-icon {
        .icon {
          path {
            fill: $white;
          }
        }
      }
    }
  } // .entry

}

%inverted-button {
	background-color: $white;
	border-color: $white;
	color: $black;

	.icon {
		background-color: $black;
	}

	&:focus,
	&:hover {
		background-color: transparent;
		border-color: $white;
		color: $white;

		.icon {
			background-color: $white;
		}
	}

	&.hds-button--secondary {
		background-color: transparent;
		border-color: $white;
		color: $white;

		.icon {
			background-color: $white;
		}

		&:focus,
		&:hover {
			background-color: $white;
			border-color: $white;
			color: $black;

			.icon {
				background-color: $black;
			}
		}
	}
}