.hidden {
  display: none;
}

.show-for-small {
	@include breakpoint(m) {
		display: none;
	}
}

.hide-for-small {
	@include breakpointMax(m) {
		display: none;
	}
}

@each $breakpoint, $size in $breakpoints {

  .show-for-#{$breakpoint} {
    display: none;
  }

  @include breakpoint($breakpoint) {
    .show-for-#{$breakpoint} {
      display: block;
    }

	.hide-for-#{$breakpoint} {
      display: none;
    }
  }
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;

  &:focus {
    background-color: $light-gray;
	  border: $default-border-width $default-border-style $medium-gray;
    clip: auto !important;
    clip-path: none;
    color: $body-color;
    display: block;
    font-size: $global-font-size;
    height: auto;
    left: $global-margin;
    line-height: $paragraph-line-height;
    padding: .25rem .5rem;
    text-decoration: none;
    top: $global-margin;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
  }
}

.js-toggle {
  .js-toggle__open {}

  .js-toggle__close {
    display: none;
  }

  &[aria-expanded="true"] {
    .js-toggle__open {
      display: none;
    }

    .js-toggle__close {
      display: inline;
    }
  }
}
