.topbar {
	$topbar-padding: spacing('xs') spacing('m');

	background-color: #f2f2f2;
	font-size: rem-calc(16);
  --line-height: var(--lineheight-l);
	line-height: var(--lineheight-l);

  > .hds-container {
    padding: $topbar-padding;
    gap: 0 spacing('s');
  }

	a {
		--anchor-text-decoration: none;

    &:focus,
    &:hover {
      --anchor-text-decoration: #{$anchor-text-decoration};
    }
	}

	&__branding {
		flex-grow: 2;
	}

	&__link {
		.icon {
			margin-top: -4px;
		}
	}

  .menu {
    gap: 0 spacing('s');

    a {
      font-size: rem-calc(16);
      --line-height: var(--lineheight-l);
    	line-height: var(--lineheight-l);
    }

  }

}
