.alignnone {
  margin: auto;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin-left: auto;
	margin-right: auto;
	margin-bottom: $paragraph-margin-bottom;

	+ * {
		clear:both;
	}

	+ .lightbox {
		+ * {
			clear:both;
		}	
	}
}

.alignright {
  clear: right;
  float: right;
  //margin-left: $global-margin;
	margin-bottom: $paragraph-margin-bottom;

	+ * {
		clear:right;
	}

	+ .lightbox {
		+ * {
			clear:right;
		}	
	}

}

.alignleft {
  clear: left;
  float: left;
  //margin-right: $global-margin;
	margin-bottom: $paragraph-margin-bottom;

	+ * {
		clear:left;
	}

	+ .lightbox {
		+ * {
			clear:left;
		}	
	}

}

a {

  img {

    &.alignleft {
      float: left;
			//margin-right: $global-margin;
			margin-bottom: $paragraph-margin-bottom;
    }

    &.alignright {
      float: right;
			//margin-left: $global-margin;
			margin-bottom: $paragraph-margin-bottom;
    }

    &.aligncenter {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: $paragraph-margin-bottom;
    }

    &.alignnone {
			margin-left: auto;
      margin-right: auto;
      margin-bottom: $paragraph-margin-bottom;
    }

  }

}

p, .wp-block-heading {

	&.has-text-align-center {
		margin-left: auto;
		margin-right: auto;
	}	
	
}
