.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    position: relative;
    text-align: center;

    @each $breakpoint, $gutter in $gutters {
        @include breakpoint($breakpoint) {
            margin-right: - math.div($gutter, 2);
            margin-left: - math.div($gutter, 2);
        }

        .gallery-item {
            padding-right: 0;
            padding-left: 0;
        }
    }

    .gallery-item {
        position: relative;
        width: 100%;

        img {
        }

        .gallery-icon {

            &.portrait {
            }

            &.landscape {
            }

            a {
                display: block;
            }
        }

        .gallery-caption {
        }
    }

    @for $i from 1 through 12 {
        &.gallery-columns-#{$i} {
            $percentage: percentage( math.div(1, $i) );

            > .gallery-item {
                width: calc(50% - var(--gallery-block--gutter-size, 16px)/2);
                margin-right: var(--gallery-block--gutter-size,16px);

                &:nth-of-type(2n) {
                    margin-right: 0;
                }

                @include breakpoint('s') {
                    width: calc(#{$percentage} - var(--gallery-block--gutter-size, 16px)*0.66667) !important;
                    margin-right: var(--gallery-block--gutter-size,16px) !important;

                    &:nth-of-type(#{$i}n+#{$i}) {
                        margin-right: 0 !important;
                    }
                }
            }
        }
    }
}
