.post-password-form {
    background-color: var(--color-silver-light);

    .hds-text-input {
        margin-bottom: 10px;

        input {
            &:focus {
                box-shadow: 0 0 0 var(--outline-width) var(--primary-color) !important;
            }
        }
    }
}
