.has-invert-color {

	.hero {
		&:not(.has-background-image) {
			color: $white;

			.hero__title,
			.content__title,
			.view-header__title {
				color: $white;
			}

			.button {
				@extend %inverted-button;
			}
		}
	} // .hero

  .entry {
    .entry__thumbnail {
      &.has-icon {
        .icon {
          path {
            fill: $white;
          }
        }
      }
    }
  } // .entry

}

%inverted-button {
  --button-background-color: #{$white};
  --button-color: #{$black};
  --button-outline-color: #{$white};

	&:hover {
    --button-background-color: rgba(255,255,255,.8);
    --button-color: #{$black};
	}

	&.hds-button--secondary {
    --button-background-color: transparent;
		--button-border-color: #{$white};
		--button-color: #{$white};

		&:hover {
      &:hover {
        --button-background-color: rgba(0,0,0,.05);
      }
		}
	}
}
