.has-sidebar {

	.content__sidebar {
		margin-top: $content-spacing;
	}

	@include breakpoint('l') {
		.content__container {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		.content__main {
			width: $content-article-width-with-sidebar;
		}

		.content__sidebar {
			margin-top: 0;
			width: $content-sidebar-width;
		}
	}

}

.content {

	&__header {
		margin-bottom: 0;

		.content__title,
		.content__thumbnail-wrap {
			margin-bottom: 0;
		}

		&.has-thumbnail {
			@include breakpoint('s') {
				.image-wrap {
					height: 300px;
					padding-top: 0;
				}
			}
		}

		&.has-koros {
			.hds-koros {
				> svg {
					path,
					polygon {
						fill: var(--primary-color);
					}
				}
			}
		}
	}

	&__thumbnail {
		display: block;
		width: 100%;

		&-wrap {
			margin-bottom: $content-spacing;
		}

		figcaption {
			font-style: normal;
			padding: 0;
			margin-top: spacing('2-xs');
		}
	}

	&__title {
		margin-top: 0;
	}

	&__main {

		.content__thumbnail {
			margin-bottom: $content-spacing;
		}

	}

	&__body {
		font-size: fontsize-body(l);
		margin-bottom: $content-spacing;

    :first-child {
      margin-top: 0;
    }

	}

	&__sidebar {}

	&__tags {
		border-top: $default-border;
		border-bottom: $default-border;
		padding-top: spacing('layout-m');
		padding-bottom: spacing('layout-m');
	}

	&__related {

		h2 {
			margin-top: 0;
		}

		padding-top: spacing('layout-l');
		padding-bottom: spacing('layout-l');
	}

}

#content {

	> .grid {
		margin-bottom: $content-spacing;
	}

}
