.footer {
	background-color: $footer-background-color;
	color: $footer-color;
	outline-color: $footer-color;
	position: relative;
	z-index: 1;
	font-size: rem-calc(16);

	> section {
    padding-top: $footer-section-spacing;

		@include breakpoint('l') {
			display: flex;
			flex-wrap: wrap;
		}

		+ section {
			border-top: $footer-section-border;
		}
	}

	.hds-koros {
		> svg {
			path,
			polygon {
				fill: $footer-background-color;
			}
		}
	}

	.footer__widgets {}

	.footer__bottom {
		--align-items: normal;
		--flex-direction: column;

		align-items: var(--align-items);
		display: flex;
		flex-direction: var(--flex-direction);
		gap: #{spacing('s')};
    margin-top: spacing('layout-m');
    padding-bottom: $footer-section-spacing;

    @include breakpointMax('xl') {
      padding-bottom: spacing('layout-xl');
    }

    @include breakpoint('xl') {
      margin-top: spacing('layout-xl');
    }
	}

  &:not(.has-widgets) {
    .footer__bottom {
      padding-top: spacing('layout-m');

      @include breakpoint('xl') {
        padding-top: spacing('layout-xl');
      }
    }
  }

	&__logo {
		svg {
			fill: $footer-color;
			height: 40px;
		}
	}

	&__navigation {
		flex-grow: 2;

		.menu {
			display: flex;
			flex-wrap: wrap;
			padding: 0;
			gap: 0;

			.menu__item {
				margin-right: $menu-item-spacing;
				margin-left: 0;
				padding: 0;

				&--active {
					a {
						font-weight: $global-font-weight-bold;
					}
				}

				a {
					border-right: $footer-section-border;
					padding-right: $menu-item-spacing;
					display: inline;
					font-size: 16px;
				}

				@include breakpoint('l') {
					&:first-child {
						a {
							border-left: $footer-section-border;
							padding-left: $menu-item-spacing;
						}
					}
				}

				&:last-child {
					a {
						border-right: none;
						padding-right: 0;
					}
				}
			}
		}
	}

	.widget__title {
		color: $footer-color;
	}

	a,
	.widget li a,
	.menu__item > a {
		color: $white;
		text-decoration: underline;

		svg {
			fill: $white;

			&.mask-icon {
				background-color: $white;
			}
		}

		&:focus,
		&:hover {
			text-decoration: none;
		}
	}
}

@include breakpoint('l') {
	.footer .footer__bottom {
		--align-items: center;
		--flex-direction: row;
	}
}

#back-top {
	--margin-top: var(--spacing-layout-2-xs);

	font-size: var(--fontsize-heading-s);
	font-weight: $global-font-weight-medium;
	justify-content: right;
	margin-top: var(--margin-top);

	@include breakpoint('l') {
		--margin-top: 0;
	}
}
