#wpadminbar {
	+ #masthead {
		--wordpress-toolbar-height: 32px;

		@media screen and (max-width: 782px) {
			--wordpress-toolbar-height: 46px;
		}
	}
}

#masthead {
	background-color: $white;
	position: relative;
	--navigation-content-height: 64px;

	#logout_bar {
		~ * {
			--logout-bar-height: 53px;
		}
	}

	@include breakpointMax(l) {
		border-bottom: $header-border;
	}

	@include breakpoint(l) {
		--navigation-content-height: 74px;
	}
}

.navigation__content {
	align-items: stretch;
	position: relative;
	height: var(--navigation-content-height);

	@include breakpointMax(m) {
		padding-left: spacing(s);
		padding-right: spacing(s);
	}

	@include breakpointMax(l) {
		.navigation__languages {
			display: none;
		}
	}

	@include breakpoint(l) {
		padding: 0;

		> div {
			display: flex;
			align-items: center;
		}
	}

	@include breakpoint(xl) {
		height: 88px;
	}

	a {
		color: $black;
		text-decoration: none;

		svg {

		}

		&:hover {
			text-decoration: underline;
		}
	}

	> * {
		padding: spacing(s) 0;

		@include breakpoint(l) {
			padding: 0 spacing(m);
		}
	}

	button {

		&:not([type="submit"]) {
			outline-offset: -3px;
		}

		svg {
			outline: none;
		}
	}
}

.navigation__logo {
	display: flex;
	flex-grow: 2;

	.logo-icon {
		height: 32px;
		flex-shrink: 0;
	}

	.has-icon--before {
		svg, img {
			margin-right: spacing(s);
		}
	}

	a {
		display: flex;
		align-items: center;
		text-decoration: none;
		font-weight: $global-font-weight-medium;
		--line-height: 1.2;
		line-height: 1.2;
	}

	img {
		display: block;
		height: auto;
		max-width: 200px;
		max-height: 32px;
		width: auto;
	}

	.custom-logo:not(.has-icon) {
		display: block;
	}

	@include breakpoint(l) {
		.logo-icon {
			height: 48px;
		}

		img {
			max-height: 48px;
		}

		a {
			font-size: 20px;
		}
	}

	@include breakpoint(xl) {
		.logo-icon {
			height: 56px;
		}

		img {
			max-height: 56px;
		}

		a {
			font-size: 24px;
		}
	}
}

.navigation__search {
	padding: 0;

	#header-search-toggle {
		height: 100%;
		padding-left: spacing(2-xs);
		padding-right: spacing(2-xs);

		@include breakpoint(l) {
			padding-left: spacing(m);
			padding-right: spacing(m);
		}

		.icon--cross {
			display: none;
		}

		@include breakpointMax(l) {
			svg {
				margin-left: 0;
			}
		}

		&[aria-expanded="true"] {
			color: $header-search-color-alt;

			svg {
				background-color: $header-search-color-alt;
			}

			.icon--search {
				display: none;
			}

			.icon--cross {
				display: inline;
			}

			~ #header-search {
				display: block;
			}
		}

		&:hover {
			text-decoration: underline;
		}
	}

	#header-search {
		background-color: $header-search-background-color;
		display: none;
		right: 0;
		top: 100%;
		left: 0;
    right: 0;
		height: 100vh;
		width: 100%;
		padding-top: spacing(layout-2-xl);
		padding-bottom: spacing(layout-m);
		position: absolute;
		z-index: 6;

		@include breakpoint(l) {
			height: auto;
			padding-top: spacing(layout-m);
		}

		.hds-container {
			align-items: start;
			flex-direction: column;
		}

		.search-title {
			color: $header-search-color-alt;
			font-size: fontsize-heading(l);
			margin-bottom: spacing(layout-s);
		}

		.search-form {
			color: $header-search-color-alt;
			max-width: none;

			@include breakpoint(l) {
				max-width: $header-search-width;
			}

			.search-field {
				input {
					background-color: $header-search-background-color;
					box-shadow: none;
					color: $header-search-color-alt;

					&:focus {
						border-color: $header-search-color-alt;
					}

					&:hover {
						border-color: $header-search-color-alt;
					}

					&::placeholder {
						color: $header-search-color-alt;
					}
				}

				[type="submit"] {

				}

				> [type="submit"] {

				}

				+ [type="submit"] {

				}

			}
		}
	}
}

.navigation__languages {

	.menu {
		padding-left: spacing('s');
		padding-right: spacing('s');
		column-gap: spacing('s');
	}

	.menu__item {
		a {
			font-size: rem-calc(16);
			--line-height: #{$global-line-height};
			line-height: $global-line-height;
			margin: spacing('xs') 0;
		}
	}

	@include breakpoint(m) {

		.menu {
			padding-left: spacing('m');
			padding-right: spacing('m');
		}

	}

	@include breakpoint(l) {
		.menu {
			padding: 0;

			&__item {
				padding: 0;

				a {
					font-size: rem-calc(16);
					padding: 0;
				}

			}
		}
	}
}

#main-menu-nav {
	border-top: $header-border;
	border-bottom: $header-border;

	#main-menu {
		padding-left: spacing(m);
		padding-right: spacing(m);
		margin-right: 100px;

		.menu__item {
			height: rem-calc(64);
			display: flex;
			align-items: center;

			a {
				font-size: fontsize-body(l);
				color: $black;
			}

			> .link-wrap {
				&:hover {
					text-decoration: underline;
				}
			}
		}

		> .menu__item {
			padding: 0;

			> .js-submenu-toggle {
				margin-top: -5px;
			}

			> .link-wrap {
				border-bottom: 4px solid transparent;
			}

			&:focus,
			&:hover {

			}

			/*&--parent {
				&:focus,
				&:hover {
					> .link-wrap {
						border-bottom-color: $black;
					}
				}
			}*/

			&--active {
				> .link-wrap {
					border-bottom-color: $black;
				}
			}

			+ .menu__item {

			}
		}

		.menu--sub {

			> .menu__item {
				height: unset;

				> .link-wrap {
					border-left: 4px solid transparent;

					a {
						font-size: rem-calc(16);
					}
				}

				&:focus,
				&:hover {
					> .link-wrap {
						border-left-color: $black;
					}
				}

				&--active {
					> .link-wrap {
						border-left-color: $black;
					}
				}
			}
		}
	}

	@include breakpoint('l') {
		> .hds-container {
			padding: 0;
		}
	}
}

/**
  * Mobile panel
  */
#mobile-panel-toggle {
	color: $anchor-color;
	cursor: pointer;
	padding: 0;
	padding-left: spacing(2-xs);
	padding-right: spacing(2-xs);
	margin-right: calc(var(--spacing-2-xs) * -1);

	@include breakpoint('l') {
		display: none;
	}

	.icon--cross {
		display: none;
	}

	svg {
		background-color: $anchor-color;
	}

	&[aria-expanded="true"] {
		.icon--menu-hamburger {
			display: none;
		}

		.icon--cross {
			display: block;
		}
	}

	&:hover {
		text-decoration: underline;
	}
}

#mobile-panel {
	--mobile-menu-height: 100vh;
	--mobile-menu-max-height: calc(var(--mobile-menu-height) - var(--wordpress-toolbar-height,0px) - var(--navigation-content-height) - var(--logout-bar-height,0px));
	background-color: $body-background-color;
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100vw;
	z-index: 2;
	height: var(--mobile-menu-height);
	max-height: var(--mobile-menu-max-height);
	overflow-y: auto;
	flex-direction: column;

	> * {
		border-top: $default-border-width $default-border-style colorBlackShade('10');
	}

	&.active {
		display: flex;
	}

	.navigation__languages {
		background-color: $light-gray;

		.menu {
			display: flex;
			flex-wrap: wrap;

			.menu__item {
				+ .menu__item {
					//margin-left: $menu-item-spacing;
				}
			}
		}
	}

	.navigation__menu {

		> .menu {
			display: block;
			padding: 0;

			> .menu__item {

				> .link-wrap {
					border-bottom: $default-border-width $default-border-style colorBlackShade('10');

					a {
						font-size: rem-calc(20);

						> button {

							.icon {
								width: 24px;
							}

						}
					}
				}
			}
		}

		.menu__item {
			padding: 0;

			> .link-wrap {
				align-items: stretch;
				justify-content: space-between;

				a {
					font-size: font-size(16) !important;
					display: inline-block;
					padding: spacing('s');
					--line-height: 1.5;
					line-height: 1.5;

					@include breakpoint('m') {
						padding: spacing('s') spacing('m');
					}
				}
			}

			&--parent {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;

				> .link-wrap {
					padding: 0;

					button {
						border-left: $default-border-width $default-border-style colorBlackShade('10');
						width: 64px;
						background: $white;
						display: flex;
						justify-content: center;
						align-items: center;

						.icon {
							width: 24px;
							margin-left: 0;
						}
					}
				}

				> .menu--sub {
					//background-color: $light-gray;
					border: none;
					//padding: 0 0 0 $mobilemenu-item-spacing;
					position: static;
					width: 100%;

					//for loop to add padding to menu item based on depth
					@for $i from 1 through 5 {
						.menu__depth-#{$i} {
							> .link-wrap {
								padding-left: calc(#{$mobilemenu-item-spacing} * #{$i});
							}
						}
					}

					.menu__item {
						.link-wrap {
							border-left: 4px solid transparent;
							border-bottom: $default-border-width $default-border-style colorBlackShade('10');

							a {
								padding-top: 9px;
								padding-bottom: 9px;
							}
						}

						&--active {
							> .link-wrap {
								border-left-color: $black;
							}

						}
					}
				}

				> .js-submenu-toggle {
					&[aria-expanded="true"] {
						+ .menu--sub {
							display: block;
						}
					}
				}
			}

		}
	}

	.mobile-links {
		padding-top: $global-padding;
		padding-bottom: $global-padding;
		background-color: $light-gray;
		flex-grow: 1;

		#mobile-topbar-menu {
			flex-direction: column;
		}

		.menu {
			.menu__item {
				> a {
					padding: spacing(2-xs) spacing(s);

					@include breakpoint('m') {
						padding: spacing(2-xs) spacing(m);
					}
				}
			}
		}
	}

}
