.content__sidebar {
    .sidebar__post-meta {

        .sidebar__post-meta__heading {

            font-size: fontsize-heading('m');
            font-weight: $global-font-weight-medium;
            margin-top: 0;
            margin-bottom: $paragraph-margin-bottom;   

        }
        .sidebar__post-meta__text {

            p {
                padding: spacing('m') spacing('s');
                margin-bottom: spacing('s');
                background-color: var(--secondary-color);
            }

        }
    }
}