.topbar {
	$topbar-padding: spacing('s') spacing('m');

	background-color: #f2f2f2;
	font-size: rem-calc(16);
  --line-height: var(--lineheight-l);
	line-height: var(--lineheight-l);

  > .hds-container {
    padding: $topbar-padding;
    gap: 0 spacing('l');
  }

	a {
		text-decoration: none;

    &:focus,
    &:hover {
      text-decoration: $anchor-text-decoration;
    }
	}

	&__branding {
		//padding: $topbar-padding;
		flex-grow: 2;
	}

	&__link {
		//padding: $topbar-padding;

		.icon {
			margin-top: -4px;
		}
	}

  .menu {

    gap: 0 spacing('l');

    a {
      font-size: rem-calc(16);
      --line-height: var(--lineheight-l);
    	line-height: var(--lineheight-l);

      &:focus,
      &:hover {
        text-decoration: $anchor-text-decoration;
      }
    }

    .menu__item {

      + .menu__item {
        //margin-left: spacing('l');
      }

    }

  }

}
