.topbar {
	$topbar-padding: spacing('s') spacing('l');

	background-color: #f2f2f2;
	font-size: rem-calc(14);
	line-height: var(--lineheight-m);

	a {
		text-decoration: none;

    &:focus,
    &:hover {
      text-decoration: $anchor-text-decoration;
    }
	}

	&__branding {
		padding: $topbar-padding;
		flex-grow: 2;
	}

	&__link {
		padding: $topbar-padding;

		.icon {
			margin-top: -4px;
		}
	}

  .menu {

    a {
      font-size: rem-calc(14);
    	line-height: var(--lineheight-m);

      &:focus,
      &:hover {
        text-decoration: $anchor-text-decoration;
      }
    }

    .menu__item {

      + .menu__item {
        margin-left: spacing('l');
      }

    }

  }

}
