@use "sass:math";

@import '../../scss/functions';
@import '../../scss/mixins';
@import '../../scss/settings';

.editor-styles-wrapper {

    padding-left: spacing('s') !important;
    padding-right: spacing('s') !important;
	max-width: var(--wp--style--global--content-size);
	width: calc(100% - #{spacing('s')} * 2);
	margin: auto !important;

	.block-editor-block-list__layout.is-root-container {
		.wp-block-hds-wp-image-banner {
			margin-left: calc(50% - 50vw)!important;
			margin-right: calc(50% - 50vw)!important;
			max-width: 100vw;
			width: 100vw;
		}
		.wp-block-freeform {
			* {
				clear: both; //hack to fix alignment issues
			}
		}
	}

    @import '../../scss/elements';
}
