.hero.has-image-left,
.hero.has-image-right {
  --flex-direction: row;

  .hds-container {
    display: flex;
    align-items: center;
    flex-direction: var(--flex-direction);
    min-height: rem-calc(340);
    padding-top: spacing('layout-m');
    padding-bottom: spacing('layout-2-xs');

    @include breakpoint('m') {
      padding-top: spacing('layout-m');
      padding-bottom: spacing('layout-s');
    }

    @include breakpoint('l') {
      min-height: rem-calc(440);
      padding-top: 4.5rem;

      .hero__content {
        max-width: unset;
      }
    }

    @include breakpoint('xl') {
      min-height: rem-calc(540);
      padding-top: spacing('layout-xl');
    }
  }

  > .hero__thumbnail {
    background-color: $body-background-color;

    @include breakpointMax('l') {
      .image-wrap--fixed-size {
      overflow: auto;
      padding-top: 0;

        img {
          position: static;
          transform: none;
        }
      }
    }
  }

  > .hero__container {
    .hero__thumbnail {
      display: none;
    }
  }

  @include breakpoint('l') {
    > .hero__container {
      display: flex;
      align-items: center;
      justify-content: space-between;

      > * {
        width: calc( 50% - 1rem );
      }

      .hero__thumbnail {
        display: block;
      }
    }

    > .hero__thumbnail {
      .image-wrap {
        display: none;
      }
    }
  }

  @include breakpointMax('l') {
    > .hds-koros {
      height: math.div($koros-size, 2);

      > svg {
        position: absolute;
        left: 0;
        bottom: 0;
      }

      &--beat {
        height: 5px;
      }

      &--vibration {
        height: math.div($koros-size, 5);
      }

      &--wave-inverse {
        background-color: transparent;
        transform: translateY(100%);

        > svg {
          position: static;
        }
      }
    }
  }

  @include breakpoint('xl') {
    > .hero__container {
      > * {
        width: calc( 50% - 1.5rem );
      }
    }
  }
}

[dir="ltr"] .hero.has-image-left.has-thumbnail,
[dir="rtl"] .hero.has-image-right.has-thumbnail {
  @include breakpoint('l') {
    --flex-direction: row-reverse;
  }
}

body.blog {
  .hero.has-image-left,
  .hero.has-image-right {
    margin-bottom: rem-calc(96);
  }
}
