.single {

	.content {
		padding-top: spacing('layout-m');
		padding-bottom: spacing('layout-m');

		@include breakpoint('m') {
			padding-top: spacing('layout-l');
			padding-bottom: spacing('layout-l');
		}

		@include breakpoint('l') {
			padding-top: spacing('layout-xl');
			padding-bottom: spacing('layout-xl');
		}

		&__main {
			> * {
				+ * {
					margin-top: spacing('layout-s');
				}
			}

			.share-links {
				margin-top: spacing('layout-l');
			}
		}

		&__header {
			> .hds-container {
				> * {
					margin-bottom: 0;

					+ * {
						margin-top: spacing('layout-s');
					}
				}
			}
		}

		&__thumbnail {
			@include breakpointMax('m') {
				@include alignFull();
			}
		}

	} // .content

} // .single
