#mobile-panel-toggle {
	color: $anchor-color;

	svg {
		background-color: currentColor;
		margin-left: auto;
		margin-right: auto;
	}

	&:hover {
		text-decoration: underline;
  	text-decoration-thickness: $anchor-text-decoration-thickness-alt;
	}

  .close {
    display: none;
  }

  &[aria-expanded="true"] {
    .open {
      display: none;
    }

    .close {
      display: block;
    }
  }
}

#mobile-panel {
  --item-separator: #{$default-border-width} #{$default-border-style} #{colorBlackShade('10')};

	> * {
		border-top: var(--item-separator);
	}

	&.active {
    display: grid;
    grid-template-columns: minmax(0,1fr);
    grid-template-rows: auto 1fr;
	}

	.navigation__menu {

		> .menu {
			display: block;
			padding: 0;

			> .menu__item {

				> .link-wrap {
					border-bottom: var(--item-separator);

					a {
						font-size: rem-calc(20);

						> button {
							.icon {
								--icon-size: 24px;
							}
						}
					}
				}
			}
		}

		.menu__item {
			padding: 0;

			> .link-wrap {
				align-items: stretch;
				justify-content: space-between;

				a {
					font-size: font-size(16) !important;
					display: inline-block;
					padding: spacing('s');
					--line-height: 1.5;
					line-height: 1.5;

					@include breakpoint('m') {
						padding: spacing('s') spacing('m');
					}
				}
			}

			&--parent {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;

				> .link-wrap {
					padding: 0;

					button {
						border-left: var(--item-separator);
						width: 64px;
						background: $white;
						display: flex;
						justify-content: center;
						align-items: center;

						.icon {
							--icon-size: 24px;
							margin-left: 0;
						}
					}
				}

				> .menu--sub {
					border: none;
					position: static;
					width: 100%;

					//for loop to add padding to menu item based on depth
					@for $i from 1 through 5 {
						.menu__depth-#{$i} {
							> .link-wrap {
								padding-left: calc(#{$mobilemenu-item-spacing} * #{$i});
							}
						}
					}

					.menu__item {
						.link-wrap {
							border-left: 4px solid transparent;
							border-bottom: var(--item-separator);

							a {
								padding-top: 9px;
								padding-bottom: 9px;
							}
						}

						&--active {
							> .link-wrap {
								border-left-color: $black;
							}

						}
					}
				}

				> .js-submenu-toggle {
					&[aria-expanded="true"] {
						+ .menu--sub {
							display: block;
						}
					}
				}
			}

		}
	}

	.mobile-links {
		padding-top: $global-padding;
		padding-bottom: $global-padding;
		background-color: $light-gray;
		flex-grow: 1;

		#mobile-topbar-menu {
			flex-direction: column;
		}

		.menu {
			.menu__item {
				> a {
					padding: spacing('2-xs') spacing('s');

					@include breakpoint('m') {
						padding: spacing('2-xs') spacing('m');
					}
				}
			}
		}
	}

}

#masthead .header__content .nav-toggle-dropdown--menu {
  .nav-toggle-dropdown__content {
    --padding: 0;
  }
}

@include breakpointMax('l') {
  .mobile-menu-panel-open .layout-wrap > :not(#masthead),
	.mobile-menu-panel-open #masthead .languages-wrapper {
    display: none;
  }
}
