@each $heading, $font-size in $heading-font-sizes {
  #{$heading} {
		color: $heading-color;
    font-size: $font-size;
    font-family: $heading-font-family;
    font-weight: $heading-font-weight;
    line-height: $heading-line-height;
    letter-spacing: $heading-letter-spacing;
		margin-top: $heading-margin-top;
    margin-bottom: $heading-margin-bottom;
    word-wrap: $heading-word-wrap;
  }
}

h5,
h6 {
	line-height: 1.2;
}

@each $breakpoint, $size in $breakpoints {
	@if ( map-has-key( $heading-responsive-font-sizes, $breakpoint ) ) {
		@include breakpoint($breakpoint) {
			@each $heading, $font-size in map-get( $heading-responsive-font-sizes, $breakpoint ) {
				#{$heading} {
				  font-size: $font-size;
				}
			}
		}
	}
}
