a {
  color: $body-color;
  text-decoration: underline;
  transition: $default-transition;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: 3px solid $black;
    outline-color: inherit;
  }
}
