ul,
ol {
  margin: 0 0 $paragraph-margin-bottom $list-margin-left;
  padding: 0;
}

ul {
  list-style: $list-unoredered-style;
  &.wp-block-page-list {
    li {
      margin-top: spacing('2-xs');
    }
  }
  &.wp-block-navigation__submenu-container {
    margin-top: spacing('2-xs');
    margin-bottom: 0;
  }
}

ol {
  list-style: $list-oredered-style;
}

dl {
  border: $default-border;
  border-color: $medium-gray;
  margin-bottom: $paragraph-margin-bottom;
  padding: var(--spacing-2-xs);
}

dt {
  float: left;
  clear: left;
  width: $definition-list-title-width;
  text-align: right;
  font-weight: $global-font-weight-medium;
  color: var(--primary-color);

  &::after {
    content: ":";
  }
}

dd {
  margin-left: $definition-list-title-width * 1.2;
  padding-bottom: var(--spacing-2-xs);
}

.content__body {

	ol, ul {

		//only apply rules if lists have no classes; existing classes mean the lists most likely already have functioning layouts
		&:not([class]), &[class=""] {
			max-width: 860px;

			li {
				&:not([class]), &[class=""] {
					+ li {
						margin-top: spacing('2-xs');
					}

					ol, ul {
						margin-top: spacing('2-xs') !important;
						margin-bottom: 0;
					}
				}
			}
		}
	}
}
