cite {
  color: $dark-gray;
  font-style: italic;
}

blockquote {
	background: none;
	font-size: rem-calc(36);
	margin: spacing('layout-l');
	padding: 0;

  p {
    font-size: inherit;
		font-style: italic;
		margin-bottom: 0;

    &::before {
      content: '\201C';
    }

    &::after {
      content: '\201D';
    }
  }

	cite {
    color: $body-color;
		font-style: normal;
		font-size: rem-calc(18);
    margin-top: spacing('m');

		&::before {
      content: '- ';
    }
	}

}

q {
  font-style: italic;
}
