cite {
  color: $dark-gray;
  font-style: italic;
}

blockquote {
    background: none;
    font-size: rem-calc(36);
    margin: 0;
    margin-bottom: spacing('layout-l');
    padding: 0;
    border-left: 8px solid;
    border-color: var(--primary-color);
    padding-left: spacing('layout-s');

    @include breakpointMax('m') {
        padding-left: spacing('layout-2-xs');
    }


    p {
        font-size: rem-calc(32);
        font-style: italic;
        margin-bottom: 0;

        @include breakpointMax('m') {
            font-size: rem-calc(24);
        }

        &::before {
            content: '\201C';
        }

        &::after {
            content: '\201D';
        }
    }

    cite {
        color: $body-color;
        font-style: normal;
        font-size: rem-calc(18);
        margin-top: spacing('m');

        &::before {
            content: '- ';
        }
    }
}

q {
  font-style: italic;
}
