table {
	display: block;
	/*border-collapse: separate !important;
	border-spacing: 0;
	border: 1px solid var(--color-black-60);*/
	margin-top: $table-margin-bottom;
	margin-bottom: 0;
	text-align: left;
	width: unset !important;
	max-width: fit-content;
	overflow-x: auto;
	white-space: nowrap;

	&.has-fixed-layout {
		display: table;
		table-layout: fixed;
		width: 100% !important;
		max-width: none;
	}

	caption {
		text-align: left;
	}

}

thead {
	width: 100%;
	background-color: $black;
	color: $white;
	border-top: 1px double var(--color-black-60);
	border-left: 1px double var(--color-black-60);
	border-right: 1px double var(--color-black-60);
	border-bottom: none !important;

	&:not(:empty)+ tbody {
		tr {
			&:first-child {
				border-top: none;
			}
		}
	}
}

tbody {
	width: 100%;

	tr {
		&:hover {
			background-color: var(--color-black-5) !important;
		}

		&:first-child {
			border-top: 1px double var(--color-black-60);
		}
	}

	border-left: 1px double var(--color-black-60);
	border-right: 1px double var(--color-black-60);

	&:last-child {
		border-bottom: 1px double var(--color-black-60);
	}
}

tfoot {
	width: 100%;

	td {
		@if $table-border-enabled {
			border-top: $table-border;
		}
	}

	border-top: none !important;
	border-bottom: 1px double var(--color-black-60);
	border-left: 1px double var(--color-black-60);
	border-right: 1px double var(--color-black-60);
}

tr {
	&:not(:last-of-type) {
		td {
			@if $table-border-enabled {
				border-bottom: $table-border;
			}
		}
		th {
			@if $table-border-enabled {
				border-bottom: $table-border;
			}
		}
	}
}

th {
	font-weight: $table-heading-font-weight;
	padding: $table-cell-padding !important;
	white-space: normal;
	min-width: 140px;
	border: unset !important;
}

td {
	padding: $table-cell-padding !important;
	white-space: normal;
	min-width: 140px;
	border: unset !important;
}

figure.wp-block-table {
	display: block !important;
	overflow-x: hidden;
	max-width: min(860px, 100%);
	margin-bottom: $paragraph-margin-bottom;

	&:where(:not(.alignleft):not(.alignright):not(.alignfull):not(.aligncenter)) {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}

	&.has-vertical-header {
		table {
			tbody {
				tr {
					td {
						&:first-of-type {
							font-weight: $table-heading-font-weight;
							background-color: $black;
							border-bottom-color: $table-border-color-vertical;
							color: $white;
						}
					}
				}
			}

			tfoot {
				tr {
					td {
						&:first-of-type {
							font-weight: $table-heading-font-weight;
							background-color: $black;
							border-top-color: $table-border-color-vertical;
							color: $white;
						}
					}
				}
			}
		}
	}

	&.is-style-stripes {
		border-bottom: none;

		table {
			border: none;
		}

		thead {
			border: none;
		}

		tbody {
			border: none;
			tr {
				border: none;
				&:nth-child(odd) {
					background-color: unset;
				}

				&:nth-child(even) {
					background-color: var(--color-black-10);
				}
			}
		}

		tfoot {
			border: none;
		}
	}

	table {
		td {
			word-break: normal !important;
		}

		&.has-fixed-layout {
			td {
				word-break: break-word !important;
			}
		}
	
	}

	figcaption {
		background: none !important;
		color: $black !important;
		font-size: $global-font-size !important;
		font-style: normal !important;
		text-align: left !important;
		padding: .5rem 0 0 !important;
		position: static !important;
		flex-grow: 0;
		flex-basis: unset;
	}

	&.aligncenter {
		table {
			margin-left: auto;
			margin-right: auto;
		}
		figcaption {
			text-align: center !important;
		}
	}

}

.wp-block-calendar {
	color: $black;

	table {
		caption {
			color: $black;
		}

		thead {
			tr {
				th {
					font-weight: inherit;
					background: unset;
				}
			}
		}

		tbody {
			tr {
				td {
					color: $black;
					border-right: $table-border !important;
					border-bottom: $table-border !important;
					border-color: $table-border-color !important;
				}
			}
		}
	}

	nav {
		.wp-calendar-nav-prev {
			float: left;
			padding: 8px;
		}

		.wp-calendar-nav-next {
			float: right;
			padding: 8px;
		}
	}
}